@import '../../styles/vars.scss';

.footer {
  height: $footerHeight;
  display: flex;
  background-color: #073133;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -5px 15px 1px rgba(0, 0, 0, 0.4);
}